USE [QUAN_LY_SAN_PHAM]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO_SAN_PHAM](
	[MA_SP] [int] IDENTITY(1,1) NOT NULL,
	[MA_NH] [varchar](50) NOT NULL,
	[MA_DVT] [varchar](50) NOT NULL,
	[TEN_SP] [nvarchar](100) NOT NULL,
	[DON_GIA_XUAT] [int] NOT NULL,
	[MO_TA] [nvarchar](500) NULL,
 CONSTRAINT [PK_KHO_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_NGANH_HANG](
	[MA_NGH] [varchar](50) NOT NULL,
	[TEN_NGH] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DM_NGANH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_NGH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_KHO_HANG](
	[MA_KHO] [varchar](50) NOT NULL,
	[TEN_KHO] [nvarchar](100) NOT NULL,
	[DIA_CHI] [nvarchar](500) NULL,
	[GHI_CHU] [nvarchar](500) NULL,
	[LOAI_KHO] [int] NULL,
 CONSTRAINT [PK_DM_KHO_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KHO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_DON_VI_TINH](
	[MA_DVT] [varchar](50) NOT NULL,
	[TEN_DVT] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DM_DON_VI_TINH] PRIMARY KEY CLUSTERED 
(
	[MA_DVT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_BO_PHAN](
	[MA_BP] [varchar](50) NOT NULL,
	[TEN_BP] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DM_BO_PHAN] PRIMARY KEY CLUSTERED 
(
	[MA_BP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_QUYEN_HAN](
	[MA_QH] [varchar](50) NOT NULL,
	[TEN_QH] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DM_QUYEN_HAN] PRIMARY KEY CLUSTERED 
(
	[MA_QH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_NKH_NCC](
	[MA_NKH_NCC] [varchar](50) NOT NULL,
	[TEN_NKH_NCC] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DM_NKH_NCC] PRIMARY KEY CLUSTERED 
(
	[MA_NKH_NCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_NHOM_TAI_KHOAN](
	[MA_NTK] [varchar](50) NOT NULL,
	[TEN_NTK] [nvarchar](100) NOT NULL,
	[MA_QH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DM_NHOM_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[MA_NTK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_NHOM_HANG](
	[MA_NH] [varchar](50) NOT NULL,
	[MA_NGH] [varchar](50) NOT NULL,
	[TEN_NH] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DM_NHOM_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_NH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO_SP_PHIEU_NHAP](
	[MA_PHIEU_NHAP] [int] IDENTITY(1,1) NOT NULL,
	[HO_TEN_NGUOI_GIAO] [nvarchar](100) NOT NULL,
	[MA_BP] [varchar](50) NULL,
	[THOI_GIAN_NHAP] [datetime] NULL,
 CONSTRAINT [PK_KHO_SP_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU_NHAP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [varchar](50) NOT NULL,
	[MA_NKH_NCC] [varchar](50) NOT NULL,
	[TEN_KH] [nvarchar](100) NOT NULL,
	[DIA_CHI] [nvarchar](500) NOT NULL,
	[SDT] [varchar](50) NULL,
	[FAX] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[MST] [varchar](50) NULL,
	[GHI_CHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MA_NCC] [varchar](50) NOT NULL,
	[MA_NKH_NCC] [varchar](50) NOT NULL,
	[TEN_NCC] [nvarchar](100) NOT NULL,
	[DIA_CHI] [nvarchar](500) NOT NULL,
	[SDT] [varchar](50) NULL,
	[FAX] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[MST] [varchar](50) NULL,
	[GHI_CHU] [nvarchar](500) NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MA_NCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO_VT_PHIEU_XUAT](
	[MA_PHIEU_XUAT] [int] IDENTITY(1,1) NOT NULL,
	[HO_TEN_NGUOI_NHAN] [nvarchar](100) NOT NULL,
	[MA_BP] [varchar](50) NULL,
	[THOI_GIAN_XUAT] [datetime] NULL,
 CONSTRAINT [PK_KHO_VT_PHIEU_XUAT] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU_XUAT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[ACC] [varchar](50) NOT NULL,
	[PASS] [nvarchar](50) NOT NULL,
	[MA_NTK] [varchar](50) NOT NULL,
	[TEN_TK] [nvarchar](50) NOT NULL,
	[DIA_CHI] [nvarchar](500) NULL,
	[SDT] [varchar](50) NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[ACC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO_VT_PHIEU_NHAP](
	[MA_PHIEU_NHAP] [int] IDENTITY(1,1) NOT NULL,
	[HO_TEN_NGUOI_GIAO] [nvarchar](100) NOT NULL,
	[MA_NCC] [varchar](50) NULL,
	[THEO_SO_HD] [varchar](50) NULL,
	[THOI_GIAN_NHAP] [datetime] NULL,
 CONSTRAINT [PK_KHO_VT_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU_NHAP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO_SP_CHI_TIET_NHAP](
	[MA_PHIEU_NHAP] [int] NOT NULL,
	[MA_SP] [int] NOT NULL,
	[MA_KHO] [varchar](50) NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[DON_GIA] [float] NOT NULL,
	[THANH_TIEN]  AS ([SO_LUONG]*[DON_GIA])
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CHECK_UNIQUE_FOR_NHA_CUNG_CAP]
   ON  [dbo].[NHA_CUNG_CAP]
   AFTER INSERT, UPDATE
AS 
BEGIN
	DECLARE @SDT VARCHAR(50);
	DECLARE @FAX VARCHAR(50);
	DECLARE @EMAIL VARCHAR(50);
	DECLARE @MST VARCHAR(50);
	DECLARE @COUNT INT;

	SET @SDT = (SELECT SDT FROM INSERTED);
	SET @COUNT = (SELECT COUNT(*) FROM NHA_CUNG_CAP WHERE (SDT = @SDT) AND (SDT IS NOT NULL) AND (DATALENGTH(SDT) > 0));
	IF @COUNT > 1
	BEGIN
		RAISERROR (N'<TRIGGER_ERROR>SỐ ĐIỆN THOẠI KHÔNG ĐƯỢC TRÙNG LẶP</TRIGGER_ERROR>',1,1);
		ROLLBACK TRANSACTION;
	END

	SET @FAX = (SELECT FAX FROM INSERTED);
	SET @COUNT = (SELECT COUNT(*) FROM NHA_CUNG_CAP WHERE (FAX = @FAX) AND (FAX IS NOT NULL) AND (DATALENGTH(FAX) > 0));
	IF @COUNT > 1
	BEGIN
		RAISERROR (N'<TRIGGER_ERROR>SỐ FAX KHÔNG ĐƯỢC TRÙNG LẶP</TRIGGER_ERROR>',1,1);
		ROLLBACK TRANSACTION;
	END

	SET @EMAIL = (SELECT EMAIL FROM INSERTED);
	SET @COUNT = (SELECT COUNT(*) FROM NHA_CUNG_CAP WHERE (EMAIL = @EMAIL) AND (EMAIL IS NOT NULL) AND (DATALENGTH(EMAIL) > 0));
	IF @COUNT > 1
	BEGIN
		RAISERROR (N'<TRIGGER_ERROR>EMAIL KHÔNG ĐƯỢC TRÙNG LẶP</TRIGGER_ERROR>',1,1);
		ROLLBACK TRANSACTION;
	END

	SET @MST = (SELECT MST FROM INSERTED);
	SET @COUNT = (SELECT COUNT(*) FROM NHA_CUNG_CAP WHERE (MST = @MST) AND (MST IS NOT NULL) AND (DATALENGTH(MST) > 0));
	IF @COUNT > 1
	BEGIN
		RAISERROR (N'<TRIGGER_ERROR>MÃ SỐ THUẾ KHÔNG ĐƯỢC TRÙNG LẶP</TRIGGER_ERROR>',1,1);
		ROLLBACK TRANSACTION;
	END

END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CHECK_UNIQUE_FOR_KHACH_HANG]
   ON  [dbo].[KHACH_HANG]
   AFTER INSERT, UPDATE
AS 
BEGIN
	DECLARE @SDT VARCHAR(50);
	DECLARE @FAX VARCHAR(50);
	DECLARE @EMAIL VARCHAR(50);
	DECLARE @MST VARCHAR(50);
	DECLARE @COUNT INT;

	SET @SDT = (SELECT SDT FROM INSERTED);
	SET @COUNT = (SELECT COUNT(*) FROM KHACH_HANG WHERE (SDT = @SDT) AND (SDT IS NOT NULL) AND (DATALENGTH(SDT) > 0));
	IF @COUNT > 1
	BEGIN
		RAISERROR (N'<TRIGGER_ERROR>SỐ ĐIỆN THOẠI KHÔNG ĐƯỢC TRÙNG LẶP</TRIGGER_ERROR>',1,1);
		ROLLBACK TRANSACTION;
	END

	SET @FAX = (SELECT FAX FROM INSERTED);
	SET @COUNT = (SELECT COUNT(*) FROM KHACH_HANG WHERE (FAX = @FAX) AND (FAX IS NOT NULL) AND (DATALENGTH(FAX) > 0));
	IF @COUNT > 1
	BEGIN
		RAISERROR (N'<TRIGGER_ERROR>SỐ FAX KHÔNG ĐƯỢC TRÙNG LẶP</TRIGGER_ERROR>',1,1);
		ROLLBACK TRANSACTION;
	END

	SET @EMAIL = (SELECT EMAIL FROM INSERTED);
	SET @COUNT = (SELECT COUNT(*) FROM KHACH_HANG WHERE (EMAIL = @EMAIL) AND (EMAIL IS NOT NULL) AND (DATALENGTH(EMAIL) > 0));
	IF @COUNT > 1
	BEGIN
		RAISERROR (N'<TRIGGER_ERROR>EMAIL KHÔNG ĐƯỢC TRÙNG LẶP</TRIGGER_ERROR>',1,1);
		ROLLBACK TRANSACTION;
	END

	SET @MST = (SELECT MST FROM INSERTED);
	SET @COUNT = (SELECT COUNT(*) FROM KHACH_HANG WHERE (MST = @MST) AND (MST IS NOT NULL) AND (DATALENGTH(MST) > 0));
	IF @COUNT > 1
	BEGIN
		RAISERROR (N'<TRIGGER_ERROR>MÃ SỐ THUẾ KHÔNG ĐƯỢC TRÙNG LẶP</TRIGGER_ERROR>',1,1);
		ROLLBACK TRANSACTION;
	END

END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO_VAT_TU](
	[MA_VT] [int] IDENTITY(1,1) NOT NULL,
	[MA_NH] [varchar](50) NOT NULL,
	[MA_DVT] [varchar](50) NOT NULL,
	[TEN_VT] [nvarchar](100) NOT NULL,
	[MO_TA] [nvarchar](500) NULL,
 CONSTRAINT [PK_KHO_VAT_TU] PRIMARY KEY CLUSTERED 
(
	[MA_VT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO_SP_PHIEU_XUAT](
	[MA_PHIEU_XUAT] [int] IDENTITY(1,1) NOT NULL,
	[HO_TEN_NGUOI_NHAN] [nvarchar](100) NOT NULL,
	[MA_KH] [varchar](50) NULL,
	[THEO_SO_HD] [varchar](50) NULL,
	[THOI_GIAN_XUAT] [datetime] NULL,
 CONSTRAINT [PK_KHO_SP_PHIEU_XUAT] PRIMARY KEY CLUSTERED 
(
	[MA_PHIEU_XUAT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO_SP_CHI_TIET_XUAT](
	[MA_PHIEU_XUAT] [int] NOT NULL,
	[MA_SP] [int] NOT NULL,
	[MA_KHO] [varchar](50) NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[DON_GIA] [float] NOT NULL,
	[THANH_TIEN]  AS ([SO_LUONG]*[DON_GIA])
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CHECK_UNIQUE_FOR_TAI_KHOAN]
   ON  [dbo].[TAI_KHOAN]
   AFTER INSERT, UPDATE
AS 
BEGIN
	DECLARE @SDT VARCHAR(50);
	DECLARE @COUNT INT;
	SET @SDT = (SELECT SDT FROM INSERTED);
	SET @COUNT = (SELECT COUNT(*) FROM TAI_KHOAN WHERE (SDT = @SDT) AND (SDT IS NOT NULL) AND (DATALENGTH(SDT) > 0));
	IF @COUNT > 1
	BEGIN
		RAISERROR (N'<TRIGGER_ERROR>SỐ ĐIỆN THOẠI KHÔNG ĐƯỢC TRÙNG LẶP</TRIGGER_ERROR>',1,1);
		ROLLBACK TRANSACTION;
	END
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO_VT_CHI_TIET_XUAT](
	[MA_PHIEU_XUAT] [int] NOT NULL,
	[MA_VT] [int] NOT NULL,
	[MA_KHO] [varchar](50) NOT NULL,
	[SO_LUONG] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO_VT_CHI_TIET_NHAP](
	[MA_PHIEU_NHAP] [int] NOT NULL,
	[MA_VT] [int] NOT NULL,
	[MA_KHO] [varchar](50) NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[DON_GIA] [float] NOT NULL,
	[THANH_TIEN]  AS ([SO_LUONG]*[DON_GIA])
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TINH_SO_LUONG_TON_VT_THEO_KHO]
(
	@MA_VT INT,
	@MA_KHO VARCHAR(50)
)
RETURNS INT
AS
BEGIN
	DECLARE @SO_LUONG_TON_NHAP INT
	DECLARE @SO_LUONG_TON_XUAT INT
	
	SET @SO_LUONG_TON_NHAP = ISNULL((SELECT SUM(SO_LUONG) FROM KHO_VT_CHI_TIET_NHAP WHERE MA_VT = @MA_VT AND MA_KHO = @MA_KHO),0)
	SET @SO_LUONG_TON_XUAT = ISNULL((SELECT SUM(SO_LUONG) FROM KHO_VT_CHI_TIET_XUAT WHERE MA_VT = @MA_VT AND MA_KHO = @MA_KHO),0)
	
	RETURN @SO_LUONG_TON_NHAP - @SO_LUONG_TON_XUAT
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TINH_SO_LUONG_TON_VT]
(
	@MA_VT INT
)
RETURNS INT
AS
BEGIN
	DECLARE @SO_LUONG_TON_NHAP INT
	DECLARE @SO_LUONG_TON_XUAT INT
	
	SET @SO_LUONG_TON_NHAP = ISNULL((SELECT SUM(SO_LUONG) FROM KHO_VT_CHI_TIET_NHAP WHERE MA_VT = @MA_VT),0)
	SET @SO_LUONG_TON_XUAT = ISNULL((SELECT SUM(SO_LUONG) FROM KHO_VT_CHI_TIET_XUAT WHERE MA_VT = @MA_VT),0)
	
	RETURN @SO_LUONG_TON_NHAP - @SO_LUONG_TON_XUAT
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TINH_SO_LUONG_TON_SP_THEO_KHO]
(
	@MA_SP INT,
	@MA_KHO VARCHAR(50)
)
RETURNS INT
AS
BEGIN
	DECLARE @SO_LUONG_TON_NHAP INT
	DECLARE @SO_LUONG_TON_XUAT INT
	
	SET @SO_LUONG_TON_NHAP = ISNULL((SELECT SUM(SO_LUONG) FROM KHO_SP_CHI_TIET_NHAP WHERE MA_SP = @MA_SP AND MA_KHO = @MA_KHO),0)
	SET @SO_LUONG_TON_XUAT = ISNULL((SELECT SUM(SO_LUONG) FROM KHO_SP_CHI_TIET_XUAT WHERE MA_SP = @MA_SP AND MA_KHO = @MA_KHO),0)
	
	RETURN @SO_LUONG_TON_NHAP - @SO_LUONG_TON_XUAT
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TINH_SO_LUONG_TON_SP]
(
	@MA_SP INT
)
RETURNS INT
AS
BEGIN
	DECLARE @SO_LUONG_TON_NHAP INT
	DECLARE @SO_LUONG_TON_XUAT INT
	
	SET @SO_LUONG_TON_NHAP = ISNULL((SELECT SUM(SO_LUONG) FROM KHO_SP_CHI_TIET_NHAP WHERE MA_SP = @MA_SP),0)
	SET @SO_LUONG_TON_XUAT = ISNULL((SELECT SUM(SO_LUONG) FROM KHO_SP_CHI_TIET_XUAT WHERE MA_SP = @MA_SP),0)
	
	RETURN @SO_LUONG_TON_NHAP - @SO_LUONG_TON_XUAT
END
GO

ALTER TABLE [dbo].[DM_KHO_HANG] ADD  CONSTRAINT [DF_DM_KHO_HANG_LOAI_KHO]  DEFAULT ((1)) FOR [LOAI_KHO]
GO

ALTER TABLE [dbo].[DM_NHOM_TAI_KHOAN] ADD  CONSTRAINT [DF_DM_NHOM_TAI_KHOAN_QUYEN]  DEFAULT ((0)) FOR [MA_QH]
GO

ALTER TABLE [dbo].[KHO_SP_PHIEU_NHAP] ADD  CONSTRAINT [DF_KHO_SP_PHIEU_NHAP_THOI_GIAN_NHAP]  DEFAULT (getdate()) FOR [THOI_GIAN_NHAP]
GO

ALTER TABLE [dbo].[KHO_SP_PHIEU_XUAT] ADD  CONSTRAINT [DF_KHO_SP_PHIEU_XUAT_THOI_GIAN_XUAT]  DEFAULT (getdate()) FOR [THOI_GIAN_XUAT]
GO

ALTER TABLE [dbo].[KHO_VT_PHIEU_NHAP] ADD  CONSTRAINT [DF_KHO_VT_PHIEU_NHAP_THOI_GIAN_NHAP]  DEFAULT (getdate()) FOR [THOI_GIAN_NHAP]
GO

ALTER TABLE [dbo].[KHO_VT_PHIEU_XUAT] ADD  CONSTRAINT [DF_KHO_VT_PHIEU_XUAT_THOI_GIAN_XUAT]  DEFAULT (getdate()) FOR [THOI_GIAN_XUAT]
GO

ALTER TABLE [dbo].[DM_NHOM_HANG]  WITH CHECK ADD  CONSTRAINT [FK_01_DM_NHOM_HANG_DM_NGANH_HANG] FOREIGN KEY([MA_NGH])
REFERENCES [dbo].[DM_NGANH_HANG] ([MA_NGH])
GO
ALTER TABLE [dbo].[DM_NHOM_HANG] CHECK CONSTRAINT [FK_01_DM_NHOM_HANG_DM_NGANH_HANG]
GO

ALTER TABLE [dbo].[DM_NHOM_TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_02_DM_NHOM_TAI_KHOAN_DM_QUYEN_HAN] FOREIGN KEY([MA_QH])
REFERENCES [dbo].[DM_QUYEN_HAN] ([MA_QH])
GO
ALTER TABLE [dbo].[DM_NHOM_TAI_KHOAN] CHECK CONSTRAINT [FK_02_DM_NHOM_TAI_KHOAN_DM_QUYEN_HAN]
GO

ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_01_KHACH_HANG_DM_NKH_NCC] FOREIGN KEY([MA_NKH_NCC])
REFERENCES [dbo].[DM_NKH_NCC] ([MA_NKH_NCC])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_01_KHACH_HANG_DM_NKH_NCC]
GO

ALTER TABLE [dbo].[KHO_SP_CHI_TIET_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_01_KHO_SP_CHI_TIET_NHAP_KHO_SP_PHIEU_NHAP] FOREIGN KEY([MA_PHIEU_NHAP])
REFERENCES [dbo].[KHO_SP_PHIEU_NHAP] ([MA_PHIEU_NHAP])
GO
ALTER TABLE [dbo].[KHO_SP_CHI_TIET_NHAP] CHECK CONSTRAINT [FK_01_KHO_SP_CHI_TIET_NHAP_KHO_SP_PHIEU_NHAP]
GO

ALTER TABLE [dbo].[KHO_SP_CHI_TIET_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_02_KHO_SP_CHI_TIET_NHAP_KHO_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[KHO_SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[KHO_SP_CHI_TIET_NHAP] CHECK CONSTRAINT [FK_02_KHO_SP_CHI_TIET_NHAP_KHO_SAN_PHAM]
GO

ALTER TABLE [dbo].[KHO_SP_CHI_TIET_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_03_KHO_SP_CHI_TIET_NHAP_DM_KHO_HANG] FOREIGN KEY([MA_KHO])
REFERENCES [dbo].[DM_KHO_HANG] ([MA_KHO])
GO
ALTER TABLE [dbo].[KHO_SP_CHI_TIET_NHAP] CHECK CONSTRAINT [FK_03_KHO_SP_CHI_TIET_NHAP_DM_KHO_HANG]
GO

ALTER TABLE [dbo].[KHO_SP_CHI_TIET_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_01_KHO_SP_CHI_TIET_XUAT_KHO_SP_PHIEU_XUAT] FOREIGN KEY([MA_PHIEU_XUAT])
REFERENCES [dbo].[KHO_SP_PHIEU_XUAT] ([MA_PHIEU_XUAT])
GO
ALTER TABLE [dbo].[KHO_SP_CHI_TIET_XUAT] CHECK CONSTRAINT [FK_01_KHO_SP_CHI_TIET_XUAT_KHO_SP_PHIEU_XUAT]
GO

ALTER TABLE [dbo].[KHO_SP_CHI_TIET_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_02_KHO_SP_CHI_TIET_XUAT_KHO_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[KHO_SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[KHO_SP_CHI_TIET_XUAT] CHECK CONSTRAINT [FK_02_KHO_SP_CHI_TIET_XUAT_KHO_SAN_PHAM]
GO

ALTER TABLE [dbo].[KHO_SP_CHI_TIET_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_03_KHO_SP_CHI_TIET_XUAT_DM_KHO_HANG] FOREIGN KEY([MA_KHO])
REFERENCES [dbo].[DM_KHO_HANG] ([MA_KHO])
GO
ALTER TABLE [dbo].[KHO_SP_CHI_TIET_XUAT] CHECK CONSTRAINT [FK_03_KHO_SP_CHI_TIET_XUAT_DM_KHO_HANG]
GO

ALTER TABLE [dbo].[KHO_SP_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_01_KHO_SP_PHIEU_NHAP_DM_BO_PHAN] FOREIGN KEY([MA_BP])
REFERENCES [dbo].[DM_BO_PHAN] ([MA_BP])
GO
ALTER TABLE [dbo].[KHO_SP_PHIEU_NHAP] CHECK CONSTRAINT [FK_01_KHO_SP_PHIEU_NHAP_DM_BO_PHAN]
GO

ALTER TABLE [dbo].[KHO_SP_PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_01_KHO_SP_PHIEU_XUAT_KHACH_HANG] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[KHO_SP_PHIEU_XUAT] CHECK CONSTRAINT [FK_01_KHO_SP_PHIEU_XUAT_KHACH_HANG]
GO

ALTER TABLE [dbo].[KHO_VAT_TU]  WITH CHECK ADD  CONSTRAINT [FK_01_KHO_VAT_TU_DM_NHOM_HANG] FOREIGN KEY([MA_NH])
REFERENCES [dbo].[DM_NHOM_HANG] ([MA_NH])
GO
ALTER TABLE [dbo].[KHO_VAT_TU] CHECK CONSTRAINT [FK_01_KHO_VAT_TU_DM_NHOM_HANG]
GO

ALTER TABLE [dbo].[KHO_VAT_TU]  WITH CHECK ADD  CONSTRAINT [FK_02_KHO_VAT_TU_DM_DON_VI_TINH] FOREIGN KEY([MA_DVT])
REFERENCES [dbo].[DM_DON_VI_TINH] ([MA_DVT])
GO
ALTER TABLE [dbo].[KHO_VAT_TU] CHECK CONSTRAINT [FK_02_KHO_VAT_TU_DM_DON_VI_TINH]
GO

ALTER TABLE [dbo].[KHO_VT_CHI_TIET_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_01_KHO_VT_CHI_TIET_NHAP_KHO_VT_PHIEU_NHAP] FOREIGN KEY([MA_PHIEU_NHAP])
REFERENCES [dbo].[KHO_VT_PHIEU_NHAP] ([MA_PHIEU_NHAP])
GO
ALTER TABLE [dbo].[KHO_VT_CHI_TIET_NHAP] CHECK CONSTRAINT [FK_01_KHO_VT_CHI_TIET_NHAP_KHO_VT_PHIEU_NHAP]
GO

ALTER TABLE [dbo].[KHO_VT_CHI_TIET_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_02_KHO_VT_CHI_TIET_NHAP_KHO_VAT_TU] FOREIGN KEY([MA_VT])
REFERENCES [dbo].[KHO_VAT_TU] ([MA_VT])
GO
ALTER TABLE [dbo].[KHO_VT_CHI_TIET_NHAP] CHECK CONSTRAINT [FK_02_KHO_VT_CHI_TIET_NHAP_KHO_VAT_TU]
GO

ALTER TABLE [dbo].[KHO_VT_CHI_TIET_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_03_KHO_VT_CHI_TIET_NHAP_DM_KHO_HANG] FOREIGN KEY([MA_KHO])
REFERENCES [dbo].[DM_KHO_HANG] ([MA_KHO])
GO
ALTER TABLE [dbo].[KHO_VT_CHI_TIET_NHAP] CHECK CONSTRAINT [FK_03_KHO_VT_CHI_TIET_NHAP_DM_KHO_HANG]
GO

ALTER TABLE [dbo].[KHO_VT_CHI_TIET_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_01_KHO_VT_CHI_TIET_XUAT_KHO_VT_PHIEU_XUAT] FOREIGN KEY([MA_PHIEU_XUAT])
REFERENCES [dbo].[KHO_VT_PHIEU_XUAT] ([MA_PHIEU_XUAT])
GO
ALTER TABLE [dbo].[KHO_VT_CHI_TIET_XUAT] CHECK CONSTRAINT [FK_01_KHO_VT_CHI_TIET_XUAT_KHO_VT_PHIEU_XUAT]
GO

ALTER TABLE [dbo].[KHO_VT_CHI_TIET_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_02_KHO_VT_CHI_TIET_XUAT_KHO_VAT_TU] FOREIGN KEY([MA_VT])
REFERENCES [dbo].[KHO_VAT_TU] ([MA_VT])
GO
ALTER TABLE [dbo].[KHO_VT_CHI_TIET_XUAT] CHECK CONSTRAINT [FK_02_KHO_VT_CHI_TIET_XUAT_KHO_VAT_TU]
GO

ALTER TABLE [dbo].[KHO_VT_CHI_TIET_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_03_KHO_VT_CHI_TIET_XUAT_DM_KHO_HANG] FOREIGN KEY([MA_KHO])
REFERENCES [dbo].[DM_KHO_HANG] ([MA_KHO])
GO
ALTER TABLE [dbo].[KHO_VT_CHI_TIET_XUAT] CHECK CONSTRAINT [FK_03_KHO_VT_CHI_TIET_XUAT_DM_KHO_HANG]
GO

ALTER TABLE [dbo].[KHO_VT_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_02_KHO_VT_PHIEU_NHAP_NHA_CUNG_CAP] FOREIGN KEY([MA_NCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MA_NCC])
GO
ALTER TABLE [dbo].[KHO_VT_PHIEU_NHAP] CHECK CONSTRAINT [FK_02_KHO_VT_PHIEU_NHAP_NHA_CUNG_CAP]
GO

ALTER TABLE [dbo].[KHO_VT_PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_01_KHO_VT_PHIEU_XUAT_DM_BO_PHAN] FOREIGN KEY([MA_BP])
REFERENCES [dbo].[DM_BO_PHAN] ([MA_BP])
GO
ALTER TABLE [dbo].[KHO_VT_PHIEU_XUAT] CHECK CONSTRAINT [FK_01_KHO_VT_PHIEU_XUAT_DM_BO_PHAN]
GO

ALTER TABLE [dbo].[NHA_CUNG_CAP]  WITH CHECK ADD  CONSTRAINT [FK_01_NHA_CUNG_CAP_DM_NKH_NCC] FOREIGN KEY([MA_NKH_NCC])
REFERENCES [dbo].[DM_NKH_NCC] ([MA_NKH_NCC])
GO
ALTER TABLE [dbo].[NHA_CUNG_CAP] CHECK CONSTRAINT [FK_01_NHA_CUNG_CAP_DM_NKH_NCC]
GO

ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_01_TAI_KHOAN_DM_NHOM_TAI_KHOAN] FOREIGN KEY([MA_NTK])
REFERENCES [dbo].[DM_NHOM_TAI_KHOAN] ([MA_NTK])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_01_TAI_KHOAN_DM_NHOM_TAI_KHOAN]
GO
